#dialog-overlay {
    width:100%;
    height:100%;
     
	background: url('/static/images/transp.png');
	background: -moz-linear-gradient(rgba(11,11,11,0.1), rgba(11,11,11,0.6)) repeat-x rgba(11,11,11,0.2);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(11,11,11,0.1)), to(rgba(11,11,11,0.6))) repeat-x rgba(11,11,11,0.2);
	 
    position:fixed;
    top:0; left:0;
    z-index:100000;
}
#dialog-box {
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
     
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	
	border: 1px solid #d3e5ee;
	
	width: 450px;
	margin: -130px 0 0 -225px;
     
	 
    background:#fff;
    position:fixed;
	left:50%;
	top:50%;
}
#dialog-box #dialog-content {
    text-align:left;
    padding:5px;
}
 
#dialog-box #dialog-title{
	text-align: left;
	padding: 5px 10px;
	background-color: #d3eeee;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
#dialog-box #dialog-message{
	text-align: center;
	padding: 5px;
}
#dialog-box #dialog-buttons{
	text-align: center;
	padding: 10px 5px;
}