.white_space_pre_wrap {
    white-space: pre-wrap;
}

.btn-filter {
    margin-top: 25px;
}

.forceinline img,.forceinline div {display: inline-block !important;}

.table-selected-indicators td.xbtn {
    text-align: right;
    width: 20%
}

.table-selected-indicators .is-full {display: none}
.table-selected-indicators .is-full span { color: red}
.table-selected-indicators.is-full .is-full {display: inline-block; }
.button-search-indicator {
    width: 100%;
}
.button-add-indicator {
    margin-top: 26px;
    width: 100%;
    text-align: center;
}
.table-results-indicators {
    font-size: 0.8em;
}
.table-results-indicators td.minwidth {
    width: 1px
}
.table-results-indicators td.minwidth2 {
    width: 130px
}

.table-results-indicators .tright {
    text-align: right;
}
.table-results-indicators .tcenter {
    text-align: center;
}

#x-container .mapa {
    min-height: 150px;
    max-height: 900px;
    height: 100%;
}

ol.unstyled {list-style: none; padding: 0}
#gmap iframe, #gmap object, #gmap embed { width: 100%; }

#x-container {
    display: inline-block;
    position: relative;
    width: 100%;
}
#x-container .x-dummy {
    padding-top: 100%; /* 4:3 aspect ratio */
}

#x-container .x-element {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: silver /* show me! */
}


div.loading {
    background: url(/static/images/ajax-loader.gif) no-repeat 0 0;
    padding-left: 38px;
    line-height: 32px;
    height: 32px;
    font-size: 1.2em;
    vertical-align: middle;

}
