.indicators .item.selected{
	color: #392268;
	background-color: #d4ccff;
}

.indicators .item:hover{
	background-color: #e9e1ff;
}

#indicadores-dados .menu-left .title{
	color: #392268;
}

#indicadores-dados .data-right .title{
	color: #53368e;
}
.data-content .tabs .item.selected{
	background-color: #fff;
	color: #53368e;
}
#cidades-dados .profile .title,
#indicador-dados .profile .title{
	color: #53368e;
}
#cidades-indicadores .title,
#indicador-historico .title{
	color: #4b308f;
}

#indicador-historico .title span{
	color: #4b308f;
}
