table{
	border-collapse: collapse;
}
html {overflow-y: scroll;}
@-ms-viewport { width: device-width; }

.page-header{
	background-image: url('/static/images/bg-top-gov.png');
	background-repeat: no-repeat;
	background-position: 95% 100%;
}


.navbar-fixed-top .navbar-inner{
	background: #20c1c1; /* Old browsers */
	background-image: none;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#20c1c1), color-stop(36%,#20c1c1), color-stop(100%,#009399)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #20c1c1 1%,#20c1c1 36%,#009399 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #20c1c1 1%,#20c1c1 36%,#009399 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #20c1c1 1%,#20c1c1 36%,#009399 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #20c1c1 1%,#20c1c1 36%,#009399 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20c1c1', endColorstr='#009399',GradientType=0 ); /* IE6-9 */
}
.navbar-fixed-top .navbar-inner .nav li a,
.navbar-fixed-top .navbar-inner .nav li a:visited{
	color: #fff;
	text-shadow: 0 1px 0 #116a6a;
}
.navbar-fixed-top .navbar-inner .nav li a.active,
.navbar-fixed-top .navbar-inner .nav li a:hover{
	color: #ccffff;
	text-shadow: 0 1px 0 #116a6a;
}
.navbar-fixed-top .navbar-inner .nav li.active{
	background: #009399;
}
.navbar .divider-vertical {
  border-right: 1px solid #20c1c1;
  border-left: 1px solid #009399;
}

.dropdown-menu{
		background-color: #009399;
}
.navbar-inverse .nav li.dropdown.open>.dropdown-toggle{
	background-color: #009399;
}
.navbar-inverse .nav .active>a{
	background-color: #009399;
}
.navbar-inverse .nav .active>a:hover{
	background-color: #009399;
}

#indicador-dados .menu-left .content-fill,
#indicadores-dados .menu-left .content-fill{
	padding: 5px;
}

#indicador-dados .data-right .content-fill,
#indicadores-dados .data-right .content-fill{
	padding: 0px;
}
.tooltip-inner {
    min-width: 250px;
    max-width: 400px;
}
.indicators {
	margin-top: 5px;
	overflow: auto;
    max-height: 800px;
}
.indicators-home {
    max-height: 465px;
}

.indicators .item{
	border-bottom: 1px solid #e0e0e0;
	padding: 5px;
	font-size: 10pt;
}
.indicators .item.selected{
	color: #006666;
	background-color: #ccffff;
}

td.center{
	text-align: center;
}

.indicators .item:hover,
.indicators .item.selected:hover{
	cursor: hand;
	cursor: pointer;
}

.indicators .item:hover{
	background-color: #e1ffff;
}
.indicators.meloading .item {
    background-color: #FFF;
    opacity: 0.4;
    cursor: wait!important;
}

#indicador-dados .menu-left .title,
#indicadores-dados .menu-left .title{
	padding: 5px;
	color: #006666;
	font-size: 14pt;
}
#indicadores-dados .menu-left .title{
	color: #009999;
}

#indicador-dados .data-right .title,h1,h2,h3,h4,h5,
#indicadores-dados .data-right .title{
	color: #009999;
	font-size: 14pt;
}


h5 {font-size: 14px;}
h4 {font-size: 17.5px;}

#indicadores-dados .data-title{
	border: 1px solid #d5d5d5;
	padding: 10px;
	margin-bottom: 6px;
}

#indicadores-dados .data-content{
	border: 1px solid #d5d5d5;
	padding: 10px;
}

.data-content .variationFilter{
	text-align: center;
	color: #333;
}
.data-content select#variationFilter{
	color: #333;
	padding: 2px;
	border: 1px solid #ccc;
}

.data-content .tabs{
	float: right;
	clear: right;
}

.data-content .tabs .item{
	float: left;
	border: 1px solid #e0e0e0;
	margin-left: 5px;
	font-size: 9pt;
	padding: 2px 5px;
	background-color: #f1f1f1;
}

.data-content .tabs .item.selected{
	background-color: #fff;
	color: #009999;
}

.data-content .tabs .item:hover{
	cursor: hand;
	cursor: pointer;
}

.data-content .table{
	margin-top: -1px;
	border-top: 1px solid #e0e0e0;

}


.data-content .table table{
	width: 100%;
}

.data-content .table th{
	text-align: center;
	font-weight: normal;
	font-size: 10pt;
	color: #999;
}

th[data-sort] {
    cursor: pointer;
}

table .num{
	text-align: center;
}

.data-content .table tbody td.grafico canvas,
#cidades-indicadores .table tbody td.grafico canvas{
	border: 1px solid #e0e0e0;
}

#indicador-grafico{
	display: none;
}

#indicador-grafico canvas{
	margin: auto;
}

#indicador-grafico .graph{
	border: 1px solid #e0e0e0;
}
#indicador-grafico .content-fill{
	padding: 5px;
	text-align: center;
}
#variation_checks label {
    display: inline-block;
}

#table_cmp_user .varied {display: none}
#table_cmp_user .active {display: table-row}
.data-content .graph .legend,
#graph .legend
{
    clear: both;
    margin-left: 50px;
    margin-bottom: 20px;
    overflow: auto;
}

#indicador-grafico .graph .legend{
	clear: both;
	text-align: center;
}
.data-content .graph .legend .item,
#graph .legend .item,
#indicador-grafico .graph .legend .item{
	float: left;
	margin-right: 5px;
	border: 1px solid #fff;
	padding: 2px 4px;
	cursor: pointer;
	cursor: hand;
}
#indicador-grafico .graph .legend .item{
	display: inline-block;
	float: none;
}
.table-xonde tr {
    font-size: 0.9em;
}
.data-content .graph .legend .item:hover,
#graph .legend .item:hover{
	border: 1px solid #ccc;
}

.data-content .graph .legend .item .quad,
#graph .legend .item .quad,
#indicador-grafico .graph .legend .item .quad{
	float: left;
	width: 10px;
	height: 10px;
	margin-right: 5px;
	margin-top: 3px;
}
.data-content .graph .legend .item .label,
#graph .legend .item .label,
#indicador-grafico .graph .legend .item .label{
	float: left;
	text-shadow: none;
    background-color: white;
    font-weight: normal;
}

.data-content .graph .legend .item .close,
#graph .legend .item .close,
#indicador-grafico .graph .legend .item .close{
	margin-top: 1px;
	margin-left: 4px;
	float: left;
	width: 11px;
	height: 14px;
}

.data-content .graph .legend .item .close .icon,
#graph .legend .item .close .icon,
#indicador-grafico .graph .legend .item .close .icon{
	display: none;
	font-size: 0.6em;
    line-height: 1em;
	padding: 0px 2px;
	border: 1px solid #ccc;
	color: #999;
}
.data-content .graph .legend .item .close .icon:hover
#graph .legend .item .close .icon:hover{
	color: #ff0000;
}

.data-content .map{
	display: none;
	margin-top: -1px;
	border-top: 1px solid #e0e0e0;


}

#cidades-dados .thumbnail>img{ margin-left: 0; max-height: 143px}
#cidades-dados .thumbnail, .no-border {
    border: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}


#indicador-dados .profile,
#mapa-do-site{
	border: 1px solid #e0e0e0;
	clear: both;
}

#indicador-dados .profile .explanation{
	padding: 10px 0;
}

#indicador-dados .profile span.goal-explanation{
	font-size: 9pt;
	font-style: italic;
}


#cidades-dados .profile .title,
#indicador-dados .profile .title,
#mapa-do-site-header .title{
	color: #009999;
	font-size: 20pt;
	font-weight: bold;
}



#cidades-dados .summary{
	margin-top: 20px;
}

#cidades-dados .map{
	margin-top: 20px;
}

#cidades-dados #mapa, #x-container .mapa{
    min-height: 150px;
    max-height: 900px;
    height: 100%;

}


#cidades-dados .summary .content-fill,
#cidades-dados .profile .content-fill,
#indicador-dados .profile .content-fill,
#mapa-do-site .content-fill{
	padding: 10px;
	clear: both;
}

#cidades-dados .variaveis .tabela,
#indicador-dados .dados .tabela{
	border-collapse: collapse;
	width: 100%;
}

.tabela span.source{
	font-size: 9pt;
	font-style: italic;
}

#cidades-dados .variaveis .item,
#indicador-dados .dados .item{
	border-bottom: 1px solid #efefef;
}
#cidades-dados .variaveis .item td,
#indicador-dados .dados .item td{
	padding: 4px 2px;
}
#cidades-dados .variaveis .item .label{
	width: 40%;
	text-align: left;
	color: #999;
	vertical-align: top;
}
#cidades-dados .variaveis .item .valor{
	color: #666;
	vertical-align: bottom;
}

#indicador-dados .dados .item .label{
	width: 100px;
	text-align: left;
	color: #999;
	vertical-align: top;
}
#indicador-dados .dados .item .valor{
	color: #666;
	vertical-align: bottom;
}

#cidades-dados .variaveis .item .valor span.measurement_unit{
	font-size: 10pt;
}

#cidades-dados .variaveis .item .valor span.last_date{
	font-size: 10pt;
}



#indicador-historico,
#indicador-grafico,
#dados-abertos{
	border: 1px solid #e0e0e0;
	margin-top: 10px;
	padding: 2px;
}


#indicador-historico .title,
#indicador-grafico .title,
#dados-abertos .title{
	color: #009999;
	background-color: #efefef;
	border: 1px solid #e0e0e0;
	padding: 2px 5px;
	font-size: 12pt;
	font-weight: bold;
}

#dados-abertos .title{
	font-weight: normal;
}

#indicador-grafico .title a.link{
	font-size: 9pt;
	color: #009999;
	text-decoration: none;
}
#indicador-grafico .title a.link:hover{
	color: #42c3c3;
}


#indicador-historico .title span,
#indicador-grafico .title span,
#dados-abertos .title span{
	color: #009999;
}


#cidades-indicadores .table{
	border-collapse: separate;
}
#cidades-indicadores .table td,
#cidades-indicadores .table th,
#cidades-indicadores .table div{

}

#cidades-indicadores .table table{
	width: 100%;
}

#cidades-indicadores .table th{
	text-align: center;
	font-weight: normal;
	font-size: 10pt;
	color: #999;
}

#cidades-indicadores .table thead.eixos th{
	font-weight: normal;
	font-size: 1em;
    color: #EEE;
	text-align: left;
	background: url(/static/images/seta.png) no-repeat 98%;
    background-color: #2b2b2b;
}

#cidades-indicadores .table thead.eixos.collapsed th {
	background: url(/static/images/seta_up.png) no-repeat 98%;
    background-color: #555;
}

#cidades-indicadores .table thead.eixos th:hover{
    cursor: hand;
    cursor: pointer;
    color: #FFF;

    background-color: #222;
}

#cidades-indicadores .table thead.datas{
	display: none;
}
#cidades-indicadores .table tbody tr.folded{
	display: none;
}

#cidades-indicadores .table tr td,
#cidades-indicadores .table tr th{
	border-bottom: 1px solid #e5e5e5;
}

#cidades-indicadores .table tbody td{
	padding: 4px 2px;
}

#cidades-indicadores .table tbody td.nome a{
	text-decoration: underline;
}
#cidades-indicadores .table tbody td.nome a:hover{
	text-decoration: none;
}

#cidades-indicadores .table tbody td.valor{
	text-align: center;
}
#cidades-indicadores .table tbody td.grafico{
	text-align: center;
	width: 1px;
	padding: 5px;
}

.menu-left .category {
    margin-bottom: 10px;

}

.menu-left #axis_list *{
	font-size: 10pt;
}

.menu-left #axis_list .select{
	padding: 5px 8px;
	border: 1px solid #e5e5e5;
	background-color: #f5f5f5;
	padding-right: 22px;
	color: #222;
	background-image: url('/static/images/seta.png');
	background-repeat: no-repeat;
	background-position: 95% 10px;
}
.menu-left #axis_list .select:hover{
	background-color: #f0f0f0;
}

.menu-left #axis_list .select .content-fill{
	padding: 0;
}
.menu-left #axis_list .select:hover,
.menu-left #axis_list .option:hover{
	cursor: hand;
	cursor: pointer;
}

.menu-left #axis_list .option:hover{
	background-color: #e1ffff;
}

.menu-left #axis_list .options{
	display: none;
	background-color: #f5f5f5;
	border: 1px solid #e5e5e5;
}

.menu-left #axis_list .option{
	padding: 5px;
	border-bottom: 1px solid #e5e5e5;
}

.menu-left .input-append { width:100% }
.menu-left input[name="indicador-busca"]{

    width: 89%;
    width: -moz-calc(100% - 41px);
    /* WebKit */
    width: -webkit-calc(100% - 41px);
    /* Opera */
    width: -o-calc(100% - 41px);
    /* Standard */
    width: calc(100% - 41px);
}

.table table td.cidade a{
	text-decoration: underline;
}
.table table td.cidade a:hover{
	text-decoration: none;
}

.graph .search{
	margin: auto;
	margin-top: 5px;
	clear: both;
	display: inline-block;
}

.graph .search label{
	float: left;
	margin-right: 5px;
	margin-top: 5px;
}
.graph .search .input{
	float: left;
	margin-right: 5px;
	padding: 4px 5px;
	border: 1px solid #e5e5e5;
	background-color: #f5f5f5;
	background-image: url('/static/images/lupa.png');
	background-repeat: no-repeat;
	background-position: 95% center;
	width: 250px;
}

.graph .search .input input{
	border: none;
	background: transparent;
	width: 88%;
	color: #999;
}
.graph .search .button{
	float: left;
	margin-right: 5px;
}
.graph .search .button input{
	border: 1px solid #9fcdd2;
	color: #006666;
	padding: 4px 10px;
}

.dados-botoes{
	margin-top: 5px;
}

input.button-data{
	background-image: url('/static/images/seta.png');
	background-repeat: no-repeat;
	background-position: 95% center;
	border: 1px solid #9fcdd2;
	color: #006666;
	padding: 4px 10px;
	background-color: #ffffff;
	padding-right: 25px;
	font-size: 9pt;
}
input.button-data.down{
	background-image: url('/static/images/seta_up.png');
	background-color: #e4fbff;
}
input.button-data:hover{
	cursor: pointer;
	cursor: hand;
	background-color: #e4fbff;
}

.download-links{
	display: inline-block;
	display: none;
	background-color: #f0f0f0;
	padding: 10px;
	margin-top: 5px;
}

.download-links .label{
display: inline-block;
margin-right: 3px;
position: relative;
top: -3px;
text-shadow: none;
color: #333;
background-color: transparent;
font-weight: 300;
font-size: 1em;

}

.download-links select{
	display: inline-block;
	margin-right: 5px;
	padding: 1px 2px;
	font-size: 9pt;
	border: 1px solid #e0e0e0;
}

.download-links a{
	background-color: #fff;
	color: #006666;
	font-size: 8pt;
	border: 1px solid #9fcdd2;
	padding: 4px 20px;
	margin: 5px;
    position: relative;
    top: -5px;

}
.download-links a:hover{
	background-color: #f5f5f5;
	color: #9fcdd2;
}

.share-link{
	display: none;
	margin-top: 5px;
}
.share-link #share-link{
	padding: 2px 4px;
	border: 1px solid #e5e5e5;
	background-color: #f5f5f5;
	width: 450px;
}
.share-link .addthis_toolbox{
	display: inline-block;
	margin-left: 10px;
}

.data-content #mapa,.data-content #x-container .mapa{
	margin: auto;
	height: 420px;

	border: 1px solid #e0e0e0;
}
#mapa img, #x-container .mapa img {
    max-width: none;
}
td.settinhas {
    line-height: 100%;
    vertical-align: middle;
    font-size: 2em;
    width: 1em;
    color: green;
    font-weight: bold;
}
td.settinhas.down {
    color:red;
}
#date-ruler{
padding: 0px 10px 0px 0px;
text-align: right;
border-bottom: 1px solid #e0e0e0;
margin-bottom: 10px;

}

#date-ruler .item.active {
	background: url('/static/images/seta_up.png') no-repeat;
	background-position: center 18px;
    color: #333;
}

#date-ruler .item{
	color: #ccc;
	display: inline-block;
	font-size: 9pt;
    padding-bottom: 10px;
	margin-left: 60px;
	margin-right: 10px;
}

#bubble-intro{
	margin-top: 150px;
	display: none;
	border: 1px solid #ccc;
	width: 50%;
	text-align: center;
	background: url('/static/images/alpha_white.png') repeat;
}

#bubble-intro p{
	margin: 0;
	padding: 10px;
	font-size: 11pt;
	text-align: center;
	line-height: 1.5em;
	color: #009999;
	font-weight: bold;
	-moz-text-shadow:1px 1px 1px #f0f0f0; -webkit-text-shadow:1px 1px 1px #f0f0f0; text-shadow:1px 1px 1px #f0f0f0;
}

#filtro_mapa{
	text-align: center;
	padding: 5px;
}
#filtro_mapa select{
	padding: 2px;
	border: 1px solid #ccc;
}

#filtro_mapa #filtro-mapa-uf,
#filtro_mapa #filtro-mapa-cidade	{
	display: inline-block
}
#filtro_mapa #filtro-mapa-cidade	{
	display: none;
	margin-left: 15px;
}
select#uf_filter{
	width: 107px;
}
div.sociais>h5 {color: #666}
a.social-icon {
    float: left;
    padding: 0;
    margin: 5px;
    text-align: left;
    width: 30px;
    height: 30px;
    background: url('/static/images/social-icons-tiles.png') no-repeat;
    text-indent: -999em;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0.85;
    -moz-opacity: .85;
    filter: alpha(opacity=85);
    background-color: #e0e0e0;
    border: 1px solid #dddddd;
}

a.social-icon.twitter {
    background-position: -30px 0px;
}
a.social-icon.facebook {
    background-position: -60px 0px;
}
a.social-icon.googleplus {
    background-position: -120px 0px;
}
a.social-icon.youtube {
    background-position: -90px 0px;
}
a.social-icon:hover{
	opacity:0.50;
	-moz-opacity:.50;
	filter:alpha(opacity=50);
	background-color: #ffffff;
}
#gmap iframe, #gmap object, #gmap embed { width: 100%; }

#x-container {
    display: inline-block;
    position: relative;
    width: 100%;
}
#x-container .x-dummy {
    padding-top: 100%; /* 4:3 aspect ratio */
}

#x-container .x-element {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: silver /* show me! */
}


div.loading {
    background: url(/static/images/ajax-loader.gif) no-repeat 0 0;
    padding-left: 38px;
    line-height: 32px;
    height: 32px;
    font-size: 1.2em;
    vertical-align: middle;

}

div.footer {
    margin-top: 35px;
    padding: 20px 0;
    border-top: 1px solid #E5E5E5;
    background-color: #f5f5f5;
}
footer .copyright {
    background-color: #efefef;
    border-top: 1px solid #e0e0e0;
    text-align: center;
}
footer .copyright .footer-copyright-content {
    padding: 7px;
    font-size: 0.8em;
}

footer h4 {
    color: #CCC;
    margin: 3px 0;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.5em;
}


footer .parceiros a img{
    border: none;
	margin-right: 15px;
}

footer .aware{
	font-size: 0.8em;
    margin-top: 10px;
}

footer .iota-logo{
    margin-left: 10px;
	max-width: 80px;
}
footer .opendata-logo{
    margin-left: 15px;
	margin-top: 25px;
}

footer .thumbnails-unstyled li {
    float: left;
    margin-right: 10px;
}


.table-xonde .x {
    padding-left: 0.5em;
}
.table-xonde .active {
    background-color: #666!important;
    color: white!important;
}
.table-xonde tr.active {
    background-color: #555!important;
    color: white!important;
}
.table-xonde tr.active td {
    background-color: transparent!important;
}
.table-xonde .active a {
    color: white!important;
    font-weight: bold!important;
}

#result-cidades {
	border: 1px solid #e0e0e0;
	margin-top: 15px;
	padding: 2px;
}
#result-cidades table.result-cidades{
	border-collapse: collapse;
	width: 100%;
}
#result-cidades thead tr{
	background-color: #f0f0f0;
}
#result-cidades thead tr th{
	color: #009999;
}
#result-cidades tbody tr td{
	padding: 2px 5px
}
#result-cidades tbody tr.even{
	background-color: #fbfbfb;
}
#result-cidades tbody tr.odd{
	background-color: #fff;
}
#result-cidades tbody tr:hover{
	cursor: hand;
	cursor: pointer;
	background-color: #e1ffff;
}

#regioes ul.regions,
#regioes ul.subregions{
	padding: 0;
	margin: 0;
}
#regioes ul.regions li.header{
	border: 1px solid #e0e0e0;
	list-style: none;
	padding: 0;
	margin: 5px 0px;
}
#regioes ul.regions li.header div.header{
	padding: 5px 10px;
}

#regioes ul.regions .subregions li{
	list-style: none;
	padding: 5px 10px 5px 20px;
	margin: 0;
	border-top: 1px solid #f0f0f0;
}
#regioes ul.regions div.header:hover,
#regioes ul.regions .subregions li:hover{
	background-color: #f0f0f0;
	cursor: hand;
	cursor: pointer;
}
#regioes ul.regions div.header.selected,
#regioes ul.regions ul.subregions li.selected{
	background-color: #ccffff;
}
#regioes ul.regions ul.subregions{
	display: none;
}
#regioes ul.regions li.header a{
	display: inline;
}
#regioes ul.regions ul.subregions li a{
	display: block;
}