page-header-right .content .link a:hover{
	color: #563599;
}
page-header-right .content .link a span.clique{
	color: #563599;
}

#menu{
	background-color: #563599;
}

#menu ul li{
	color: #fff;
	border-bottom: 3px solid #563599;
}
#menu ul li a{
	color: #deccff;
}
#header-title .title{
	color: #4d2a7c;
}

a.button-add{
	color: #60419f;
	border: 1px solid #dbd3ee;
}

a.button-add:hover{
	border: 1px solid #684e86;
}

.form{
	border: 1px solid #563599;
	border-bottom: 5px solid #563599;
}
.form .title{
	background-color: #563599;
}
.form .form-aviso div{
	color: #4b1ebf;
}

a.button-default{
	background: url("../images/bg_botao.gif") repeat-x top center;
	text-shadow:#382465 1px 1px 0px;
	-moz-text-shadow:#382465 1px 1px 0px;
	-webkit-text-shadow:#382465 1px 1px 0px;
	border: 1px solid #8463a6;
}

.button-default:hover{
	background: url("../images/bg_botao.gif") repeat-x bottom center;
	border: 1px solid #674e86;
}

table.indicadores {
	border: 1px solid #dfd3ee;
	border-bottom: 5px solid #563599;
}

table.indicadores thead th {
	background-color: #563599;
}
table.history tbody tr td.edit a.edit{
	color: #542c85;
}
