*.swp
*.swo
*~
blib/
.build/
_build/
cover_db/
inc/
.last_cover_stats
Makefile
Makefile.old
MANIFEST.bak
META.*
MYMETA.*
nytprof.out
pm_to_blib
*_local*
root/static/user/
root/static/built/
.tidyall.d/