
#cidades-dados .profile .title, #indicador-dados .profile .title, #mapa-do-site-header .title,
#indicador-dados .data-right .title, h1, h2, h3, h4, h5, #indicadores-dados .data-right .title,
#indicador-historico .title, #indicador-grafico .title, #dados-abertos .title,
#indicador-historico .title span, #indicador-grafico .title span, #dados-abertos .title span,
input.button-data:hover,input.button-data {
    color: #36c
}
h3.panel-title {
    color: white;
    font-weight: bold;
}
body {
    padding-top: 0;
    color: #444;
    font-weight: 300;
    min-width: 375px;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px;
}

.fundo-branco {
    background-color: white;

}
.pad10 {
    padding: 10px;
}

#topbackground {
    background-image: url(/static/infancia/bg-indicadores.jpg);
    background-repeat: repeat-x;
}

body.root_pagina_o_projeto #topbackground {
    background-image: url(/static/infancia/bg-oprojeto.jpg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-color: #394a7e;
    background-position: 50% 0;
}

body.root_pagina_boas_praticas #topbackground {
    background-image: url(/static/infancia/bg-boaspraticas.jpg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-color: #161c32;
    background-position: 50% 0;
}

body.root_pagina_contato #topbackground {
    background-image: url(/static/infancia/bg-cidades.jpg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: calc(50% - 80px) 0;
    background-color: #27355c;
}

body.root_ #topbackground {
    background-image: url(/static/infancia/img-crianca-crop.jpg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: calc(50% - 80px) 0;
}

h1 {
    font-weight: 100;
}
body.root_ h1 {
    width: 60%;
}

#iota-app-content {
    background-color: white;
    min-height: 400px;
    margin-top: 20px;
}

.mynavbar-inner ul {
    margin-top : 139px
}

.mynavbar-inner li {
    display: inline-block;
    width: 20%;
    max-width: 150px;
}
.mynavbar-inner li a {
    font-size: 18px;
    text-transform: lowercase;
    text-align: center;
    color: #444;
}
.mynavbar-inner li.active a {
    background-color: #eee;
}
.mygithub {
    float: right;
}
.mygithub a {
    color: #666;
    font-size: 0.9em;
    padding: 10px 10px 0px 0px;
    display: inline-block;
}

h1 {
    color: white;
    margin-top: 1.5em;
    margin-bottom: 0.7em;
    font-size: 3em;
}

body.root_ .mytitlerow {
    height: 537px;
}

/* phone to desktop  */
@media (max-width: 990px) {
    .mynavbar-inner ul {
        margin-top : 0;
    }
    .mynavbar-inner li {
        width: 150px;
        min-width: 150px;
    }
    body.root_ h1 {
        width: 80%;
    }
    h1 {
        margin-top: 1em;
        margin-bottom: 0.3em;
        font-size: 2.5em;
    }
    body.root_ .mytitlerow {
        max-height: 200px
    }
}
/* phone to mobile-l */
@media (max-width: 425px) {
    body.root_ h1 {
        width: 100%;
        font-size: 2em;
    }
}
.menulogo {
    display: block;
}
.menulogo a {
    display: inline-block;
}

.root_home_network_indicator_render .btn-group {
    width: 95px;
}
.root_home_network_indicator_render .compare {
    font-size: 0.8em;
    padding-right: 7px;
}
.root_home_network_indicator_render  .btn.dropdown-toggle {
    font-size: 0.8em;
    padding-left: 0;
}

.footer-menu {
    background-color: #3366cc;
    height: 335px;
}

.footer-menu ul a {
    color:white;
    font-size: 16px;
}
.footer-menu li a,.footer-menu li.active a {
  background-color: transparent;
}
.footer-menu li:active a,
.footer-menu li:hover a,
.footer-menu li:focus a
 {
    background-color: transparent;
    text-decoration: underline;
}
.footer-menu .mynavbar-inner {
    margin-top: 150px;
}
.footer-menu .mynavbar-inner ul {
    padding-top: 30px;
}
.footer-menu .mynavbar-inner li a {
    text-align: left;
}

.footer-realizacao {
    height: 415px;
    background-color: #eee;
    margin-bottom: -150px;
    position: relative;
    z-index: 999;
}
.mytitlerow {
    display: table;
    float: none;

}
.mytitle {
    display: table-cell;
    float: none;
    vertical-align: bottom;
    padding-bottom: 40px;
}

footer {
    margin-top: 4em;
}

#infancia-menu-wrap {
    background-image: url('//i.imgur.com/SyHVepV.png');
    overflow: auto;
    background-repeat: no-repeat;
    background-position: 0 85px;
    background-size: cover;
    overflow: visible;
    min-height: 450px;
    margin-top: -60px;
}

#infancia-menu-indicadores {
    background-color: #c5e8f9;
    font-weight: 300;
}

#infancia-menu-indicadores input {
    background-color: #dfeef7;
}

#menu-ods {
    padding-top: 15px;
    margin-top: 1px;
    margin-bottom: -10px;
}

#menu-ods, #infancia-menu-indicadores .input-group {
    padding-left: 15px;
    padding-right: 15px;
}
#infancia-menu-indicadores .input-group-addon {
    background-color: #c5e8f9;
}
#indicators_container, #menu-ods {
    width: 50%;
    margin-left: 50%;
}

#group_list {
    background-color: #d7f2ff;
    float: left;
    width: 50%;
    margin-bottom: 0;
}

#infancia-menu-cidade {
    width: 50%;
    margin-left: 50%;
    background-color: #3366cc;
    height: 85px;
    color: white;
    float: right;


    border-bottom: none;

    font-size: 28px;
    border: 0;
    padding: 0;
    padding-left: 1.5em;
    font-weight: 300;
    line-height: 85px;
}

#group_list .option,#group_list .select {
    font-size: 16px;
    border-bottom: 1px solid #a1dbf8;

    border-radius: 0;
    -moz-border-radius:0;
    -webkit-border-radius:0;

    padding: 12px;
    padding-left: 36px;
}
#group_list .options {
    background-color: #d7f2ff;
    border: none;
}
#group_list .option.active {
    background-color: #c5e9fc;
}
#indicators_list a.item, #group_list .option {
    color: #2c5885;
}
#indicators_list a.item {
    font-size: 16px;
    font-weight: 300;
    padding-left: 15px;
    border-bottom: 1px dotted #a1dbf8;
    padding: 6px;
}
.indicators .item:hover {
    background-color: transparent;
}
#iota-app-content img {max-width: 100%}

#group_list .select,#group_list .select.open {
    margin-bottom: 0
}
#group_list .select {
    border-bottom: none;
    background-color: #4dbaf2;
    height: 85px;
    color: white;
    font-size: 28px;
    border: 0;
    padding: 0;
    padding-left: 1.5em;
    font-weight: 300;
    line-height: 85px;
    margin-top: -85px;
    background-position: calc(100% - 1.5em) 39px;
}


#group_list .select:after {
    display: none;
}
#group_list .select:hover {
    background-color: #4dbaf2;
}
.menu-left {
    overflow: auto;
}
#indicators_container .input-group {
    margin-bottom: 0;
    padding-top: 10px
}
#group_list .option:last-child {
    border-bottom: none;
}

#iota-app-content h1 {color: #000}