dt {
    font-weight: 500;
}
h5, h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
    font-weight: 300;
}
#cidades-dados .profile .title, #indicador-dados .profile .title, #mapa-do-site-header .title,
#indicador-dados .data-right .title, h1, h2, h3, h4, h5, #indicadores-dados .data-right .title,
#indicador-historico .title, #indicador-grafico .title, #dados-abertos .title,
#indicador-historico .title span, #indicador-grafico .title span, #dados-abertos .title span,
input.button-data:hover,input.button-data {
    color: #36c
}
h3..panel-title {
    font-weight: 500;
}
.panel-primary .panel-title {
    color: white;
}
.panel-success .panel-title {
    color: rgb(70, 136, 71);}
}
.panel-info .panel-title {
    color: rgb(58, 135, 173);
}

body {
    padding-top: 0;
    color: #444;
    font-weight: 300;
    min-width: 360px;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px;
}
h5 {
    font-size: 36px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.fundo-branco {
    background-color: rgba(255,255,255,0.85);
    margin-top: 40px;
}

.pad10 {
    padding: 10px;
}

#topbackground {
    background-image: url(/static/infancia/nova-home-crianca-banco.jpg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-color: #161c32;
    background-position: 50% 0;
}
/*
body.root_pagina_contato #topbackground, body.root_sugestao_bp #topbackground {
    background-image: url(/static/infancia/bg-cidades.jpg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 50%;
    background-color: #27355c;
}
*/

body.root_ #topbackground {
    background-image: url(/static/infancia/img-crianca-crop.jpg?v=2);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-color: white;
}

body.root_ h6 {
    width: 60%;
}

#iota-app-content {
    background-color: white;
    min-height: 400px;
    margin-top: 20px;
}

.mynavbar-inner ul {
    margin-top : 5px
}


body.root_ .mynavbar-inner ul {
    margin-top : 50px
}

.mynavbar-inner li {
    display: inline-block;
    width: 24%;
    max-width: 228px;
}
.mynavbar-inner li a {
    font-size: 18px;
    text-transform: lowercase;
    color: #666;
    font-weight: 500;
}
#topbackground .mynavbar-inner li a:hover, .mynavbar-inner li.active a {
    color: #5bc0de;
}

.mygithub a {
    color: black;
    background-color: rgba(255,255,255,0.85);
    font-size: 0.8em;
    margin: 6px 6px 0px 0px;
    padding: 4px;
    display: inline-block;
}

h6 {
    font-weight: 100;
    color: white;
    margin-top: 1.5em;
    margin-bottom: 0.7em;
    font-size: 3em;
}
h1 {
    font-weight: 100;
    color: white;

    margin-bottom: 0.7em;
    font-size: 3em;
}

body.root_ .mytitlerow {
    height: 337px;
}

/* phone to desktop  */
@media (max-width: 990px) {
    .mynavbar-inner ul {
        margin-top : 0;
    }
    .mynavbar-inner li {
        width: 100%;
        min-width: 178px;
    }
    body.root_ h6 {
        width: 80%;
    }
    h6 {
        margin-top: 1em;
        margin-bottom: 0.3em;
        font-size: 2.5em;
    }
    body.root_ .mytitlerow {
        max-height: 200px
    }
}
/* phone to mobile-l */
@media (max-width: 425px) {
    body.root_ h6 {
        width: 100%;
        font-size: 2em;
    }
}
.menulogo {
    display: block;
    margin-top: -69px;
}
.menulogo a {
    display: inline-block;
}

.root_home_network_indicator_render .btn-group {
    width: 95px;
}
.root_home_network_indicator_render .compare {
    font-size: 0.8em;
    padding-right: 7px;
}
.root_home_network_indicator_render  .btn.dropdown-toggle {
    font-size: 0.8em;
    padding-left: 0;
}

.footer-menu {
    background-color: #3366cc;
    height: 335px;
}

.footer-menu ul a {
    color:white;
    font-size: 16px;
}
.footer-menu li a,.footer-menu li.active a {
  background-color: transparent;
  font-weight: 300;
}
.footer-menu li:active a,
.footer-menu li:hover a,
.footer-menu li:focus a
 {
    background-color: transparent;
    text-decoration: none;
    color: #5bc0de;
}
.footer-menu .mynavbar-inner {
    margin-top: 150px;
}
.footer-menu .mynavbar-inner ul {
    padding-top: 30px;
}
.footer-menu .mynavbar-inner li a {
    text-align: left;
}

.footer-menu li.active a {
    color: white;
}
.footer-realizacao {
    background-color: #eee;
    margin-bottom: -150px;
    position: relative;
    z-index: 999;
}
.footer-realizacao .dummy {
    padding: 50px;
}
footer h6 {
    font-size: 18px;
    color: #888;
    font-weight: 300;
}
footer a {
    overflow: auto;
    display: inline-block;
}
footer a.fr{
    min-height: 90px;
}
footer a.fr-b { padding: 10px 30px 10px 0px}
footer a.fr-c { padding: 10px 30px 10px 0px}
footer a.fr-f>i {margin-top: 15px;}
footer div.fx { margin-top: 40px}


.mytitlerow {
    display: table;
    float: none;

}
.mytitle {
    display: table-cell;
    float: none;
    vertical-align: bottom;
    padding-bottom: 40px;
}


footer {
    margin-top: 4em;
}

#infancia-menu-wrap {
    overflow: auto;
    overflow: visible;
    margin-top: -60px;
}

#infancia-menu-indicadores {
    background-color: rgb(197, 232, 249);
    font-weight: 300;
}

#infancia-menu-indicadores input {
    background-color: #dfeef7;
}

#menu-ods {
    padding-top: 15px;
    margin-top: 1px;
    margin-bottom: -10px;
}

#menu-ods, #infancia-menu-indicadores .input-group {
    padding-left: 15px;
    padding-right: 15px;
}
#infancia-menu-indicadores .input-group-addon {
    background-color: #c5e8f9;
}
#indicators_container, #menu-ods {
    width: 70%;
    margin-left: 30%;
}

#group_list {
    background-color: #d7f2ff;
    float: left;
    width: 30%;
    margin-bottom: 0;
}


#infancia-menu-cidade {
    width: 70%;
    margin-left: 30%;
    background-color: #3366cc;
    height: 85px;
    color: white;
    float: right;
    display: block;
    border-bottom: none;
    font-size: 16px;
    border: 0;
    padding: 0;
    padding-left: 1.5em;
    font-weight: 300;
    line-height: 85px;
}

#group_list .option, #group_list .select, #group_list .header {
    border-bottom: 1px solid #a1dbf8;

    border-radius: 0;
    -moz-border-radius:0;
    -webkit-border-radius:0;

    font-size: 10px;
    font-weight: 500;
    padding: 2px;
    padding-top: 4px;
}
#group_list .header {
    font-size: 12px;
}
#group_list .options {
    background-color: #d7f2ff;
    border: none;
}
#group_list .option.active {
    background-color: #c5e9fc;
}
#indicators_list a.item, #group_list .option {
    color: #2c5885;
}
#indicators_lis7t {
    overflow: auto;
    height: auto;
}
.indicators {
     margin-top: 0;
}
#indicators_list a.item {
    font-size: 12px;
    font-weight: 300;
    padding-left: 10px;
    border-bottom: 1px dotted #a1dbf8;
    padding: 3px;
}
.indicators .item:hover {
    background-color: transparent;
}
#iota-app-content img {
    display: block;
    height: auto;
    max-width: 100%;
}

#group_list .select,#group_list .select.open {
    margin-bottom: 0
}
#group_list .select {
    border-bottom: none;
    background-color: #4dbaf2;
    height: 85px;
    color: white;
    font-size: 16px;
    border: 0;
    padding: 0;
    font-weight: 300;
    padding-top: 15px;
    padding-left: 10px;
    line-height: 25px;
    margin-top: -85px;
    background-position: calc(100% - 15px) 39px;
}


#group_list .select:after {
    display: none;
}
#group_list .select:hover {
    background-color: #4dbaf2;
}
.menu-left {
    overflow: auto;
}
#indicators_container .input-group {
    margin-bottom: 0;
    padding-top: 10px;
    border-bottom: 1px solid #a1dbf8;
    padding-bottom: 5px;
}

#group_list .option:last-child {
    border-bottom: none;
}

#iota-app-content h1 {color: #000}


/* pagina indicadores  */

#indicador-historico, #indicador-grafico, #dados-abertos {
    border: 0;
}
#indicador-historico .title, #indicador-grafico .title, #dados-abertos .title, #indicador-dados .data-right .title {
    background-color: transparent;
    border: none;
    font-size: 36px !important;
    font-weight: 300;
}
.download-links {
    background-color: transparent;
}
#indicador-dados .profile  {
    border: none;
}


.download-links a {
    background-color: #3acbff;
    color: white;
    font-weight: 500;
    font-size: 11px;
}

.download-links a.json {
    color: black;
    background-color: #efefef;
}

.download-links a.xls {
    background-color: #20d800;
    color: black;
}

.download-links select{
    display: inline-block;
    margin-right: 5px;
    padding: 0;
    font-size: 17px;
    border: none;
    border-bottom: 1px solid #3acbff;
    background-color: transparent;
    height: 25px;
}
.download-links .label {
    top: 0;
}
.download-links:after {
    content: '';
    display: table;
    clear: both;;
}
.download-links > * {
    float: left;
}

dl.tabela.dl-horizontal dt {
    float: none;
    text-align: left;
}
dl.tabela.dl-horizontal dd {
    margin-left: 0
}

dl.tabela blockquote {
    border: 0;
    padding: 0;
    color: #3366cc !important
}

dl.tabela blockquote small {
    color: #3366cc;
}
.table thead>tr>th {
    border-bottom: 2px solid #33ccff;
}

#indicador-grafico .title a.link {
    padding: 2px 10px 2px 10px;
    background-color: #33ccff;
    color: white;
    font-weight: 500;
    margin-top: 12px;
    margin-left: 33px;
    font-size: 14px;
}
#indicador-grafico .title a.link:hover {
    color: white;
}

#indicador-grafico .title > * {
/*     float: left; removendo pois acho que nao precisa! */
}

/* tela comparacao cidades */
#indicadores-dados .data-title, #indicadores-dados .data-content {
    border: none;
}

#cidades-indicadores .table thead.eixos th {
    color: #666;
    background-color: #fff;
    font-weight: 500;
    font-size: 16px;
}
#cidades-indicadores .table thead.eixos.collapsed th {
    color: #666;
    background-color: #fff;
    font-weight: 500;
    font-size: 16px;
}
#cidades-indicadores .table thead.eixos th:hover {
    background-color: #f5f5f5;
    color: #666;
}

#date-ruler {
    border-bottom: 2px solid #3366cc;
}

#cidades-indicadores .table tr td, #cidades-indicadores .table tr th {
    border-bottom: none;
}
#cidades-indicadores .table tbody > tr{
    border-left: 23px solid red;
}
#cidades-indicadores .table tbody td {
    padding: 8px 4px;
}
.boas-praticas li {
    color: #2c5885;
    font-size: 16px;
    font-weight: 300;
}
.boas-praticas li.nav-header {

    padding: 6px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px dotted #a1dbf8;
}
.boas-praticas .nav>li>a {
    padding: 8px 15px;
}
.boas-praticas .nav>li>a:hover,
.boas-praticas .nav>li>a:focus{

    background-color: transparent;
    text-decoration: underline;

}
#boapratica > div {
    font-size: 14px;
    height: 465px;
    padding-bottom: 15px;
}
#boapratica .item {
    height: 100%;
    overflow: hidden;
    border: 1px solid #3366cc;
    padding: 10px;
}
#boapratica .header {
    background-color: #3366cc;
    color: #FFF;
    padding: 2px 5px;
    margin: -10px;
    display: block;
    margin-bottom: 10px;
}
#boapratica h2 {
    margin: 10px;
}
#boapratica img {
    margin: 0 auto;
    max-height: 189px;
    max-width: 338px;
}
#boapratica a, #boapratica a:hover,#boapratica a:visited {
    color: black;
    text-decoration: none;
}

#infancia-menu-cidade a {
     color: #428bca;
    background-color: #fff;
    padding: 3px 7px;
    margin-right: 10px;
    text-decoration: none;
}
#infancia-menu-wrap.no-indicators #infancia-menu-cidade {
    margin-left: 0 !important;
    width: 100% !important;
}

#cidades-dados {
    margin-top: 20px
}

@media (min-width: 590px) {
    #group_list .select {
        font-size: 20px;
        line-height: 85px;
        padding: 0;
        padding-left: 1.5em;
        background-position: calc(100% - 1.5em) 39px;
    }
    #infancia-menu-cidade {
        font-size: 20px;
    }


    #group_list .option {
        padding: 10px;
        padding-left: 36px;
        font-size: 12px;
    }

    #indicators_list .badge{
        font-size: 10px;
        font-weight: 400;
    }

    #indicators_container, #menu-ods {
        width: 50%;
        margin-left: 50%;
    }
    #group_list {
        width: 50%;
    }
    #infancia-menu-cidade {
        width: 50%;
        margin-left: 50%;
    }
    #indicators_list a.item {
        font-size: 14px;
        padding-left: 15px;
        padding: 6px;
    }
}
#indicators_list a.item {overflow: auto; clear: both}
#indicators_list .badge {
    float: right;
    background-color: #3366cc;
    font-size: 12px;
    font-weight: 300;
    color: white;
}
#indicators_list_wrap .badge { display: inline-block; }
#indicators_list_wrap .badge:empty { display: none; }


@media (min-width: 990px) {
    #group_list .select {
        font-size: 28px;
    }
    #infancia-menu-cidade {
        font-size: 28px;
    }
    #group_list .option {
        padding: 12px;
        padding-left: 36px;
    }
    #group_list .option {
        padding: 8px;
        padding-left: 36px;
        font-size: 14px;
    }

}

body.root_ h2, body.root_pagina_generica_render h3 {
    font-size: 36px;
    line-height: 2em;
    font-weight: 300
}

.fullwidth{width: 100%;}
.bigpadding {padding-top: 36px;padding-bottom: 36px;}
.textocinza {
    background-color:  white;
    padding-top: 36px;padding-bottom: 36px;
    font-size: 18px;
    color: #999;
}
.css-two-columns {
    column-count: 2;
}


.nav>li>a:hover, .nav>li>a:focus {
    background-color: transparent;
}
.white_space_pre_wrap {
    white-space: pre-wrap;
}

#cidades-dados .profile .title, #indicador-dados .profile .title, #mapa-do-site-header .title {
    font-weight: 300;
}

.gtran {
    border-top: 1px solid white;
    padding: 15px;
    text-align: right;
    margin-bottom: -40px;
    margin-top: 20px;
}

#infancia-menu-wrap .menu-left .header {
    padding: 5px;
    font-size: 1.2em;
    color: #3366cc;
    padding-left: 15px!important;
}

#boapratica-search label { white-space: nowrap; display: block; overflow: hidden; }
#boapratica-search .form-group.a {
    width: 30%;
}

#boapratica-search .form-group.b {
    width: 20%;
}
@media (min-width: 768px) {
    #boapratica-search .form-group.a {
        width: 26%;
    }

    #boapratica-search .form-group.b {
        width: 21%;
    }
}
@media (max-width: 767px) {
    #boapratica-search .form-group.a, #boapratica-search .form-group.b { width: 100% }

}
#cidades-indicadores .form-group.a {
    width: 43%;
}
#cidades-indicadores .form-group.b {
    width: 43%;
}
@media (min-width: 768px) {
    #cidades-indicadores .form-group.a {
        width: 43%;
    }
    #cidades-indicadores .form-group.b {
        width: 43%;
    }
}
#indicators_list .item.selected {
    color: #355c85;
    font-weight: 500;
    background-color: #ffffff;
}
#cidades-indicadores .table thead.dimensions th {
    background-color: #3366cc;
    text-transform: none;
}

#infancia-menu-cidade img { display: inline; margin-top: -6px}

dl.tabela_indicadores > *.small {
    font-size: 0.8em;
}

b, strong, label, th {
    font-weight: 500;
}

#indicador-dados div.profile > div.content-fill {
    margin-top: 15px;
}
#cidades-dados div.indicador-dados {
    padding: 10px;
}
.dados-box-regiao {
    float: right;
    padding-left: 0
}
.dados-box-regiao > div {
    padding: 10px;
}

#indicador-dados div.profile > div.content-fill,
#cidades-dados div.indicador-dados,
.table .table,
.dados-box-regiao > div {
    border: 1px solid #e0e0e0;
}
.dados-box-regiao h1 {
    font-size: 28px;
}

body.root_mapa_site #iota-app-content ul {
    border: 1px solid #eee;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-menu .mynavbar-inner li { width: 18%;}
.footer-menu .container { background-color: #3366cc }
form h3 {margin-top: 0}

#new-cidades-dados {
    margin: 30px 0;
/*
    background-color: #4ac9f2;
    background: rgb(224,243,250);
    background: -moz-linear-gradient(top, #4ac9f2 0%, rgb(51, 102, 204) 100%);
    background: -webkit-linear-gradient(top, #4ac9f2 0%,rgb(51, 102, 204) 100%);
    background: linear-gradient(to bottom, #4ac9f2 0%,rgb(51, 102, 204) 100%);
    border-radius: 10px;
--    background-color: #efefef;
*/
    background-color: #3366cc;
    /* border: 2px solid #428ecd; */

    font-size: 0;
}
#new-cidades-dados .item {
    width: 100%;
    padding: 12px;
    display: inline-block;
    vertical-align: text-top;
    font-size: 16px;
    color: #EEE;
    border-bottom: 5px solid white;
}
#new-cidades-dados .trnum {
    text-align: center;
}
#new-cidades-dados td.trvarname {
    vertical-align: text-top;
}
#new-cidades-dados td.img {
    width: 20%;
    vertical-align: middle;
}
#new-cidades-dados .vblock {
    display: block;
}

#new-cidades-dados .item .unit, #new-cidades-dados .item .year {
    font-weight: 500;
    color: #FFF;
    font-size: 14px;
}
#new-cidades-dados .vtop {
    vertical-align: text-top;
}
#new-cidades-dados .item .num {
    color: #FFF;
    font-weight: 500;
    font-size: 36px;
}
#map_canvas {
    width: 100%;
    min-height: 620px;
    min-width: 500px;
}
#regioes {
    max-height: 650px;
    overflow: auto;
}

div.is_infancia {
    margin-top: -20px;
}
div.is_infancia h5 {
    font-size: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #new-cidades-dados .item {
        border-bottom: none;
        width: 46%;
    }
    #new-cidades-dados td.img {
        width: 40%;
        vertical-align: middle;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #new-cidades-dados .item {
        width: 33.33%;
    }
}