.inflogo {
    background-image: url(/static/infancia/sprites-logos.png);
    background-repeat: no-repeat;
    display: inline-block;
}

a:hover .inflogo-cidades-pb {
    width: 251px;
    height: 86px;
    background-position: -2px -2px;
}

.inflogo-cidades-pb {
    width: 251px;
    height: 86px;
    background-position: -2px -92px;
}

.inflogo-logo-appcivico {
    width: 226px;
    height: 37px;
    background-position: -2px -182px;
}

a:hover .inflogo-logo-appcivico {
    width: 226px;
    height: 37px;
    background-position: -2px -223px;
}

.inflogo-logo-bernard {
    width: 158px;
    height: 84px;
    background-position: -257px -2px;
}

a:hover .inflogo-logo-bernard {
    width: 158px;
    height: 84px;
    background-position: -257px -90px;
}

.inflogo-logo-iota {
    width: 80px;
    height: 53px;
    background-position: -419px -2px;
}

a:hover .inflogo-logo-iota {
    width: 80px;
    height: 53px;
    background-position: -419px -59px;
}

.inflogo-logo-rnsp {
    width: 105px;
    height: 66px;
    background-position: -257px -178px;
}

a:hover .inflogo-logo-rnsp {
    width: 105px;
    height: 66px;
    background-position: -366px -178px;
}
