.inflogo {
    background-image: url(/static/infancia/sprites-logos.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.inflogo-logo-appcivico {
    width: 226px;
    height: 37px;
    background-position: -1px -1px;
}

.inflogo-logo-appcivico-ov {
    width: 226px;
    height: 37px;
    background-position: -1px -40px;
}

.inflogo-logo-bernard {
    width: 158px;
    height: 84px;
    background-position: -1px -79px;
}

.inflogo-logo-bernard-ov {
    width: 158px;
    height: 84px;
    background-position: -1px -165px;
}

.inflogo-logo-iota {
    width: 80px;
    height: 53px;
    background-position: -161px -79px;
}

.inflogo-logo-iota-ov {
    width: 80px;
    height: 53px;
    background-position: -161px -134px;
}

.inflogo-logo-rnsp {
    width: 105px;
    height: 66px;
    background-position: -229px -1px;
}

.inflogo-logo-rnsp-ov {
    width: 105px;
    height: 66px;
    background-position: -243px -69px;
}