    <div id="infancia-menu-cidade">

        <span>[% city.name || menu_indicators_prefix ? 'São Paulo' : '' %]</span>

        <a class="city" href="[% city.pais ?  "/$city.pais/$city.uf/$city.name_uri/indicadores" : "$menu_indicators_prefix/indicadores" || '#' %]">
            Cidade
        </a>

        <a class="regions" href="[% city.pais ?  "/$city.pais/$city.uf/$city.name_uri/regiao" : "$menu_indicators_prefix/regiao" || '#' %]">
            Região
        </a>

    </div>