<script type="text/javascript" src="https://maps.google.com/maps/api/js?libraries=geometry,visualization&amp;key=AIzaSyC4NfJfPKmuVEqmliE663_31FFq9qt6VOE"></script>
<script type='text/javascript' src='https://www.google.com/jsapi'></script>