body {
    position: relative;
    padding-top: 50px;
}
.page-header {
    margin: 10px 0 20px;
}


.anchor{
    position:absolute;
    top:-50px;
}

.tooltip.right {
    min-width: 300px;
}

.tooltip-inner {
    max-width: 300px;
}

#indicadores-dados {
    min-height: 602px;
}

#indicadores-dados h2 {
    margin-top: 0;
}
/* links das cidades/paises */
.block-list:hover {
    font-weight: bold;
}

.block-list {
    display: block;

    line-height: 50px;
    color: white;

    height: 50px;
    margin-bottom: 10px;

    font-size: 22px;
}
.list-countries h2 {
    color: white;
    padding: 10px;
    font-size: 20px;
}

.list-cities h3 {
    color: white;
    padding: 10px;
    font-size: 16px;

}

.list-cities h3 small {
    color: white;
    text-decoration: underline;
    float: right;
    line-height: 17px;
    vertical-align: middle;
    font-size: 12px;
}

.list-countries a,.list-cities a {
    color: #333;
    text-decoration: none;
}
.list-countries a:hover,.list-cities a:hover {
    font-weight: bold;
}

.list-state {
    margin-bottom: 10px;
    font-size: 0.9em;

    border-left: 10px solid #333;
    padding: 5px;
}

/* "select"/"combo box" do menu dos indicadores  */
#group_list {
    margin-bottom: 10px;
}

#group_list {
    font-size: 10pt;
}

#indicators_container .input-group{
    margin-bottom: 20px;
}

#group_list .select{
    padding: 5px 8px;
    border: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    padding-right: 22px;
    color: #222;
    position: relative;
    margin-bottom: 10px
}

#group_list .select:hover{
    background-color: #f0f0f0;
}

#group_list .select:after {
    content: '';
    position: absolute;
    z-index: 4;
    width: 14px;
    height: 7px;
    background-image: url(/static/v2/img/sprites-v2.png);
    /* .spt-seta */
    background-position: -365px -73px ;
    right: 10px;
    top: 11px;
}

#group_list .select.open:after {
    background-position: -365px -65px ;
}


#group_list .select:hover,
#group_list .option:hover{
    cursor: hand;
    cursor: pointer;
}

#group_list .option:hover{
    background-color: #e1ffff;
}

#group_list .options{
    display: none;
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#group_list .option{
    padding: 5px;
    padding-left: 15px;
    border-bottom: 1px solid #e5e5e5;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}


/* menu dos indicadores  */
#indicators_list {
    height: 465px;
    overflow: hidden;
    width: 99.5%;
}

#indicators_list .item{
    border-bottom: 1px solid #e0e0e0;
    padding: 5px;
    color: #333;
    display: block!important;
    font-size: 10pt;
}

#indicators_list .item.hideimp, span.hideimp{
    display: none!important;
}

#indicators_list .item.selected{
    color: #006666;
    background-color: #ccffff;
}

#search_status {
    display: block;
    text-align: center;
    padding: 6px;
    cursor: pointer;
    font-size: 13px;
}

/* ratios */
.wrapper_ratio {
    width: 100%;
    display: inline-block;
    position: relative;
}
.wrapper_ratio:after {
    padding-top: 63.73%; /*16:9 ratio*/
    display: block;
    content: '';
}
.main_ratio {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    background-color: #d9edff;
}


div.loading {
    background: url(/static/images/ajax-loader.gif) no-repeat 0 0;
    padding-left: 38px;
    line-height: 32px;
    height: 32px;
    font-size: 1.2em;
    vertical-align: middle;

}


/* footer */

div.sociais>h5 {
    color: #666
}

.column_count2 {
    column-count:2;
    -moz-column-count:2; /* Firefox */
    -webkit-column-count:2; /* Safari and Chrome */
}

.column_count2>div {
    display: inline-block;
}
