.spt-cc, .spt-facebook-icon_25x25, .spt-forward_disabled, .spt-forward_enabled_hover, .spt-globe_icon, .spt-google-page-logo-25x25, .spt-icone_aware, .spt-indicator_icon, .spt-logo-96, .spt-logo-cgibr, .spt-logo-dualtec, .spt-logo-nicbr, .spt-logo-w3c, .spt-od_80x15_blue, .spt-separator-arrow, .spt-seta, .spt-seta_up, .spt-sort_asc, .spt-sort_asc_disabled, .spt-sort_both, .spt-sort_desc, .spt-sort_desc_disabled, .spt-twitter-icon-25x25, .spt-forward_enabled{
	background: url(/static/v2/img/sprites-v2.png) no-repeat;
display: inline-block;
}

.spt-cc{
    background-position: -502px -65px ;
    width: 17px;
    height: 17px;
}

.spt-facebook-icon_25x25{
    background-position: -379px -65px ;
    width: 25px;
    height: 25px;
}

.spt-forward_disabled{
    background-position: -260px -73px ;
    width: 19px;
    height: 19px;
}

.spt-forward_enabled_hover{
    background-position: -280px -73px ;
    width: 19px;
    height: 19px;
}

.spt-globe_icon{
    background-position: -159px -16px ;
    width: 72px;
    height: 72px;
}

.spt-google-page-logo-25x25{
    background-position: -313px -65px ;
    width: 25px;
    height: 25px;
}

.spt-icone_aware{
    background-position: -300px -73px ;
    width: 15px;
    height: 15px;
}

.spt-indicator_icon{
    background-position: -240px 0;
    width: 72px;
    height: 72px;
}

.spt-logo-96{
    background-position: 0 0;
    width: 158px;
    height: 96px;
}

.spt-logo-cgibr{
    background-position: -444px 0;
    width: 57px;
    height: 64px;
}

.spt-logo-dualtec{
    background-position: -313px 0;
    width: 65px;
    height: 64px;
}

.spt-logo-nicbr{
    background-position: -379px 0;
    width: 64px;
    height: 64px;
}

.spt-logo-w3c{
    background-position: -502px 0;
    width: 52px;
    height: 64px;
}

.spt-od_80x15_blue{
    background-position: -159px 0;
    width: 80px;
    height: 15px;
}

.spt-separator-arrow{
    background-position: -232px -16px ;
    width: 8px;
    height: 8px;
}

.spt-seta{
    background-position: -365px -73px ;
    width: 14px;
    height: 7px;
}

.spt-seta_up{
    background-position: -365px -65px ;
    width: 14px;
    height: 7px;
}

.spt-sort_asc{
    background-position: -484px -65px ;
    width: 19px;
    height: 19px;
}

.spt-sort_asc_disabled{
    background-position: -464px -65px ;
    width: 19px;
    height: 19px;
}

.spt-sort_both{
    background-position: -444px -65px ;
    width: 19px;
    height: 19px;
}

.spt-sort_desc{
    background-position: -425px -65px ;
    width: 19px;
    height: 19px;
}

.spt-sort_desc_disabled{
    background-position: -405px -65px ;
    width: 19px;
    height: 19px;
}

.spt-twitter-icon-25x25{
    background-position: -339px -65px ;
    width: 25px;
    height: 25px;
}

.spt-forward_enabled{
    background-position: -240px -73px ;
    width: 19px;
    height: 19px;
}

a.social-icon {
    float: left;
    padding: 0;
    margin: 5px;
    text-align: left;
    width: 30px;
    height: 30px;
    background: url('/static/images/social-icons-tiles.png') no-repeat;
    text-indent: -999em;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0.85;
    -moz-opacity: .85;
    filter: alpha(opacity=85);
    background-color: #e0e0e0;
    border: 1px solid #dddddd;
}

a.social-icon.twitter {
    background-position: -30px 0px;
}
a.social-icon.facebook {
    background-position: -60px 0px;
}
a.social-icon.googleplus {
    background-position: -120px 0px;
}
a.social-icon.youtube {
    background-position: -90px 0px;
}
a.social-icon:hover{
    opacity:0.50;
    -moz-opacity:.50;
    filter:alpha(opacity=50);
    background-color: #ffffff;
}

