[% META title = 'Catalyst/TT Error' %]
<p>
[%l('Ocorreu um erro!')%]
</p>
<p>
[%l('Aqui está a mensagem de erro, sobre a possibilidade remota de que isso significa alguma coisa para você')%]: <span class="error"> [%error%] </ span>
</p>